{% extends "base.html.twig" %}
{# List all products. Allow adding products to shopping cart (uses ajax). #}
{% block title %}
Products listing
{% endblock %}
{% block body %}
    <div id="app">
        <list-products>
        </list-products>
    </div>

{%  endblock %}
{% block javascripts %}
{% endblock %}