{% extends "base.html.twig" %}
{% block title %}
Products listing
{% endblock %}
{% block body %}

<table class="table">
    {% for product in products %}
    <tr>
        <td>Product: {{ product.name }}</td>
        <td>Product price:{{ product.price }}</td>
        <td><img src="{{ asset("images/") ~ product.imageFileName }}" alt="product image" class="img-thumbnail"></td>
    </tr>
    {% endfor %}
</table>

{%  endblock %}
