{% extends "base.html.twig" %}
{# Render add product form. #}
{% block title %}
    Add product
{% endblock %}
{% block body %}
    <div id="result_message">
        {% if message is defined %}
            {{ message }}
        {% endif %}
    </div>
    <h2>Add product</h2>
    {{ form_start(form) }}

    {{ form_row(form.image) }}
    {{ form_end(form) }}
{% endblock %}
