{% extends "base.html.twig" %}
{# Render form for editing a product. #}
{% block title %}
    Edit product
{% endblock %}
{% block body %}
    <h2>Edit product</h2>
    {{ form_start(form, {'action': action}) }}

    {{ form_row(form.image) }}
    {{ form_end(form) }}
{% endblock %}
