{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h2>Welcome to admin view</h2>
    <a href="{{ path('add_product') }}">Add a new product</a>
{% endblock %}
