{% extends 'base.html.twig' %}

{# Load, display shopping cart (stored in session). Allow removing items from shopping cart (uses ajax).  #}

{% block title %}Shopping cart{% endblock %}

{% block body %}
    <div id="app">
        <shopping-cart>
        </shopping-cart>
    </div>

{% endblock %}